.light {
    background-color: black !important;
}

.light * {
    color: white ;
}

.light #about *{
    color: #fff !important;
    background-color: black;
}

.light #navbar {
    background-color: rgb(43, 41, 41);
}

.light #footer{
    background-color: rgb(33, 32, 32);
}

.light #footer *{
    color: #fff !important;
}
/* .light #navbar.nav-btn{
    background-color: black;
} */

.light .nav__items .nav__item .nav__link {
    color: #fff;
}

.light .nav__items .nav__item:hover .nav__link {
    color: var(--subtitle-color);
}
